/* Style page content */
.main {
    padding: 5px 10px;
    position: absolute;
    top: 75px;
    right: 0;
    left: 162px;
    float:left;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

