/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 160px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav span {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

