<!DOCTYPE html>
{% extends 'base.html' %}
{% block event_block %}
{% endblock %}
<div>
{% block body_block %}
<p><i>Bark with friends</i> is a cafe where dog owners can gather with other dog owners and their dogs and communicate with each other. 
We offer different types of themed events for all breeds of dogs. There is a wide range of different foods and drinks for every taste.</p>
<img src="https://metrouk2.files.wordpress.com/2016/03/coffee-and-canines.jpg?w=748&h=749&crop=1">
<p>(Picture: The Dog Cafe/Instagram)</p>
<footer>
<blockquote>Happiness is a warm puppy.
<cite>Charles Schulz</cite>
{% endblock %}
</footer>
</div>