{% extends 'base.html' %}
{% load staticfiles %}


{% block head_block %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'rating_style.css' %}">


    <script src="static/jquery.js"></script>
    <script src="{% static 'fillorganizer.js' %}"></script>
{% endblock %}

{% block title_block %}
Ratings
{% endblock %}

{% block body_block %}

    <h>Add a Rating</h>
    {% csrf_token %}
        {% if Organizers %}

                 {% for organizer in Organizers %}

                    <ul class="row" >
                       <form id="submit" action="/ratings/{{ organizer }}" method="get">

                        <p id=organizer class="col-1">{{ organizer }}</p>

                        <a onclick="submit_form()" onmouseenter="mouse_enter()" onmouseleave="mouse_leave()" id="rate" class="col-3" >Add a rating</a><br>

                            <input hidden type="submit" value="Submit" >

                        </form>



                    </ul>
                 {% endfor %}

         {% else %}
             <strong>There are no organizers present.</strong>
         {% endif %}

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script>
   function submit_form(){
       $('#submit').submit();
   }
   function mouse_enter(){
       $('#rate').css("color",'blue');
       $('#rate').css('cursor','pointer');
   }
    function mouse_leave(){
       $('#rate').css("color",'black');
   }
   </script>
{% endblock %}