{% extends 'base.html' %}
{% load staticfiles %}


{% block head_block %}
   <link rel="stylesheet" type="text/css" href="{% static 'eventstyle.css' %}">

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>jQuery UI Datepicker - Restrict date range</title>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
  $( function() {
    $( "#datepicker" ).datepicker({ minDate: 0, maxDate: "+2M +0D" });
  } );
  </script>
  
{% endblock %}

{% block body_block %}
<div class="row">

    <div class="col-sm-1">
    </div>


    <div class="col">

        <h1>Add an Event</h1>
            <div>

                <form id="category_form" method="post" action={% url 'add-event' %}>
                    {% csrf_token %}
                    <label for="etitle">Event title:</label>
                    {{ form.title }}

                    <br>

                    <label for="theme">Theme:</label>
                    {{ form.theme }}

                    <label for="Date">Event Date:</label>
                    {{ form.date }}
                     <label for="Capacity">Capacity (Note max:25 people,25 dogs):</label>
                    {{ form.capacity}}
                    <br>

                    <label for="Start time">Start time:</label>
                    {{ form.start }}
                    <label for="End time">End time:</label>
                    {{ form.end }}

                    <script type="text/javascript" src="static/startendtime1.js"></script> 
                    <script type="text/javascript">
                        function go()
                        {
                           alertfunction();
                        }

                    </script>
                     {{ form.organizerusername.as_hidden }}
                    {{ form.starter }}
                    {{ form.main }}
                    {{ form.dessert }}
                    {{ form.drink}}
                    {{ form.dog_food }}
                    <input type="submit" value="Submit" onclick="go()">

                </form>

            </div>
        </div>



    <div class="col-sm-1">
    </div>



    <div class="col">
    </div>



    <div class="col-sm-1">
    </div>


</div>
</html> 

{% endblock %}	
 
