{% extends 'base.html' %}
{% load staticfiles %}


{% block head_block %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="static/jquery.js"></script>
    <script src="{% static 'fillorganizer.js' %}"></script>
{% endblock %}

{% block title_block %}
Ratings
{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-lg-12">
    <div class="mb-0 mt-4" align="center"><h2>Add a Rating</h></div>
    <hr class="mt-2">
  </div>
</div>
    {% csrf_token %}
        {% if Organizers %}
            <div class="card-columns">
                 {% for organizer in Organizers %}
                   <div class="card mb-3">
                     {% if user.userprofile.profile_picture %}
                       <img class="card-img-top img-fluid w-100" src="{{ user.userprofile.profile_picture.url }}" alt="{{user.username}}"/>
                     {% endif %}
                   <div class="card-body">
                       <form class={{organizer}} id={{organizer}} class="submit" action="/ratings/{{ organizer }}" method="get" >
                        <h6 class="card-title mb-1" class={{organizer}}><h4><b>{{ organizer }}</b></h4></h6>
                        <hr class="my-0">
                        <div class="card-body py-2 small"><a href="/ratings/{{ organizer }}" class={{organizer}} onclick="submit_form({{organizer}})"><h6>Add a rating</h6></a></div>

                         <input hidden type="submit" value="Submit" >
                       </form>
                   </div>
                 {% endfor %}
             </div>
         {% else %}
             <strong>There are no organizers present.</strong>
         {% endif %}
</div>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script>
   function submit_form(param){
       //var org={{organizer}};

       console.log(param);
       param.submit();
       //var id=$(this).attr(param);
       //document.getElementById(id).submit();

       //var org=this.className;
       //var form = $(this).parents('form:first');
       //console.log(form);
       //var org=$('.submit p:first').innerHTML;
       //var form=document.getElementById(org);
       //form.submit();
       //$(this.form).submit();
       //this.form.submit();
      // this.parentElement.submit;
   }
   
   </script>
{% endblock %}
