<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   <link rel="stylesheet" type="text/css" href="{% static 'topbar.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>

{% block title_block %}
<title>Bark with Friends</title>
{% endblock %}


    <div class="sidenav">
        <a href = "/index">Home</a><br>
        <a href = "/about">About us</a><br>
        <a href = "/food-menu">Food menu</a><br>
        <a href = "/contact">Contact us</a><br>
        <a href = "/events">Events</a><br>
        {% block event_block %}
        {% endblock %}
        <a href = "/ratings">Ratings</a><br>
    </div>


    <div class="topnav">
      <a href="/login">Login</a>
        <a href="/register">Register</a>
        <span> Bark with Friends </span>
    </div>


    <div class= "main">
        <br>
        <body>
        {% block body_block %}
        {% endblock %}
        </body>
    </div>

</html>
