<!DOCTYPE html>
<html>
{% block title_block %}
{% load static %}
<title>Bark with Friends</title>
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
{% endblock %}

    <div class="topnav" id="myTopnav">
      <a href="/login">Login</a>
        <a href="/register">Register</a>
        <span> Bark with Friends </span>
    </div>

    <div class="sidenav">
        <a href = "/index">Home</a><br>
        <a href = "/about">About us</a><br>
        <a href = "/food-menu">Food menu</a><br>
        <a href = "/contact">Contact us</a><br>
        <a href = "/events">Events</a><br>
        {% block event_block %}
        {% endblock %}
        <a href = "/ratings">Ratings</a><br>
    </div>
    <div class= "main">
        <br>
        <body style = "margin-left : 15%">
        {% block body_block %}
        {% endblock %}
        </body>
    </div>



</html>
