{% extends 'base.html' %}

{% block title_block %}
Contact
{% endblock %}

{% block body_block %}
<div align="center">
    <p><h4>Our restaurant is located in the vibrant part of the west end, near Glasgow Central Station.</h4>
        <h6>60 Ebana Street<br>
        Glasgow<br>
        G1 3FK<br></h6>
        <h5>Telephone number : 0775465405</h5></p>
</div>

<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-4"><img src="https://metrouk2.files.wordpress.com/2018/02/img_8592-e1518793924631.jpg?w=748&h=520&crop=1"></div>
  <div class="col-6 col-md-4"></div>
</div>
<div align="center"><p>Picture: <a href="http://metro.co.uk/2018/02/16/the-worlds-first-sausage-dog-cafe-is-coming-to-the-uk-7318722/">Metro</a></div>
{% endblock %}
