{% extends 'base.html' %}

{% block title_block %}
Contact
{% endblock %}

{% block body_block %}
<!--Title-->
<div class="col-lg-12">
    <div class="mb-0 mt-4" align="center"><h2>Contact us</h2></div>
    <hr class="mt-2">
</div>
<!--Informative Text-->
<div align="center">
    <p><h4>Our restaurant is located in the vibrant part of the west end, near Glasgow Central Station.</h4>
    <h6>60 Ebana Street<br>
        Glasgow<br>
        G1 3FK<br></h6>
    <h5>Telephone number : 0775465405</h5></p>
</div>
<!--Picture in Card-->
<div class="container blam2">
    <div class="card card-login mx-auto mt-5">
        <img src="https://metrouk2.files.wordpress.com/2018/02/img_8592-e1518793924631.jpg?w=748&h=520&crop=1">
    </div>
</div>
<!--Ref-->
<div align="center"><p>Picture: <a href="http://metro.co.uk/2018/02/16/the-worlds-first-sausage-dog-cafe-is-coming-to-the-uk-7318722/">Metro</a></div>
{% endblock %}
