{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Register As Dog Owner
{% endblock %}

{% block body_block %}
<body class="bg-dark">
  <div class="container blarr">
    <div class="card card-login mx-auto mt-5">
      {% if user.is_authenticated %}
        <h2>You have already registered!</h2>
      {% else %}
        <div class="card-header" align="center"><h5>Register for BarkWithFriends</h5></div>
        {% if registered %}
          <div align="center">
            <strong>Thank you for registering!</strong></br>
            <a href = "{% url 'login' %}">Log in now</a></br>
            <a href="{% url 'index' %}">Return to the homepage.</a></br>
          </div>
        {% else %}
          <div class="card-body">
            <form id="owform" method="post" action="{% url 'register_owner' %}" enctype="multipart/form-data">
              {% csrf_token %}

<!-- Display each form -->
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}

 <!-- Provide a button to click to submit the form. -->
                  <input type="submit" name="submit" value="Register" />
              </form>
        {% endif %}
      {% endif %}
  </div>
</div>

{% endblock %}


<!--
        {% if user.is_authenticated %}
        <h2>You have already registered!</h2>
        {% else %}
         <h1>Register for BarkWithFriends</h1>
        {% if registered %}
             <strong>Thank you for registering!</strong>
            <a href = "{% url 'login' %}">Log in now</a><br>
             <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}
              <strong>register here!</strong><br />
              <form id="owform" method="post" action="{% url 'register_owner' %}"
                  enctype="multipart/form-data">

                  {% csrf_token %}

 <!-- Display each form ->
                  {{ user_form.as_p }}
                  {{ profile_form.as_p }}

                  {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}

 <!-- Provide a button to click to submit the form. ->
                  <input type="submit" name="submit" value="Register" />
              </form>
              {% endif %}
        {% endif %}
-->


