<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<form action={% url 'events' %}
{% if events %}
	<p>In this page you can choose an event to participate in.</p>
	{% for event in events %}
        {% if event.capacity > 0 %}
		<input type="checkbox" value="{{ event.title }}" name="checks">
		<p><b>{{ event.title }}</b> -- Organized by {{ event.organizerusername }}</p>
            This event has a topic : <b>{{ event.theme }}</b>
            It will take place on <b>{{ event.date }}</b>.
            <br>
            It will start at <b>{{ event.start }}</b>
		    and is expected to finsih at <b>{{ event.end }}.</b></p>
		    The current number of availabel place is :<b>{{ event.capacity }}</b></p>

         Menu for the event :</p>

                 Starter:  {{ event.starter }}<br>

                 Main course:  {{ event.main }}<br>

                 Dessert:  {{ event.dessert }}<br>

                 Drink:  {{ event.drink }}<br>

                 Food for the dogs: {{ event.dog_food }}
            <br>
        {% endif %}
	{% endfor %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <input type="submit" value="submit" >



{% else %}
<p>We currently do not offer any events.</p>
{% endif %}
</form>
{% endblock %}