<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<form action={% url 'events' %}
{% if events %}
	<p>In this page you can choose an event to participate in.</p>
	{% for event in events %}
        {% if event.capacity > 0 %}
		<input type="checkbox" value="{{ event.title }}" name="checks">
		<p><b>Title : {{ event.title }}</b></p>
		Theme: {{ event.theme }}</p>
		Capacity: {{ event.capacity }}</p>S
		Date: {{ event.date }}</p>
		Start: {{ event.start }}</p>
		End: {{ event.end }}</p>
        {% endif %}
	{% endfor %}
    <input type="submit" value="submit" >



{% else %}
<p>We currently do not offer any events.</p>
{% endif %}
</form>
{% endblock %}