<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<h1>For the owners</h1>
<h2>Starters</h2>
    <p>Tomato Soup (vegan) - £2.20</p>
    <p>Greenveg Soup (vegan) - £2.50</p>
    <p>Falafel and Hummus (vegan) - £2.00</p>
    <p>Olive sun dried tomato baguette (vegan)- £2.00</p>
    <p>Cheese selection (contains milk) - £3.00</p>
<h2>Mains</h2>
    <p>Toastie with Cheese and Ham (contains milk) - £2.30</p>
    <p>Roast Chicken Baguette (gluten free) - £3.00</p>
    <p>Pasta bolognese(contains egg,milk) - £3.00</p>
    <p>Tofu katsu curry (vegan) - £2.00</p>
<h2>Desserts</h2>
    <p>Oatmeal blueberry porridge(dairy free option available) - £1.80</p>
    <p>Vegan chocolate cake - £3.30</p>
    <p>Banana nutella crepe- £2.50</p>
<h2>Drinks</h2>
    <p>Espresso - £2.20</p>
    <p>Cappuccino - £3.00</p>
    <p>Chai latte - £4.00</p>
<h1>For the doggos</h1>
<p>Beef stew- £2.50</p>
<p>Chicken soup - 2.00</p>
<p>Beef & Veggie Crockpot  - £2.00</p>
<p>Cookies(sugar free) - £1.50</p>
{% endblock%}