<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}

    <h1>Welcome to BarkWithFriends, {{ user.username }}!!</h1>
    {% else %} Welcome to BarkWithFriends! {% endif %}
	<p>Here you can participate in a themed party along with your puppy.</p>
	<img src="https://media.timeout.com/images/103935991/630/472/image.jpg">
	<p>(Picture:<a href="https://www.timeout.com"/>Timeout)</a>)
    <div>
    {% if events %}
    <ul>
        {% for event in events %}
            <li>
                 {{ event.title }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no events present.</strong>
    {% endif %}
    </div>
{% endblock %}