{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<body class="bg-dark">
  <div class="container blar">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header" align="center"><h1>Login to BarkWithFriends</h1></div>
      {% if user.is_authenticated %}
          <h2>You have already logged in!</h2>
      {% else %}
      <div class="card-body">
        <form id="login_form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input class="form-control" type="text" name="username" value="" size="50">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" type="password" name="password" value="" size="50">
          </div>
          <input type="submit" value="Login" />
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href = "{% url 'reset_password' %}">Forgot Password?</a></div>
      </div>
     {% endif %}
    </div>
  </div>


<!--
    <h1>Login to BarkWithFriends</h1>
    {% if user.is_authenticated %}
        <h2>You have already logged in!</h2>
    {% else %}

    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
        <a href = "{% url 'reset_password' %}">Forgot your password?</a><br>
    {% endif %}
-->

{% endblock %}


