!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <script type="text/javascript" src="static/userevents.js"></script>
    <h1>{{user.username}} Profile</h1> <img src="{{user.userprofile.profile_picture.url }}" width="300"  alt="{{user.username}}" /> <br/>
   {% if user.userprofile.is_owner %}
     <h2>This is your lovely doggo:{{user.userprofile.dog_name}} </h2> <img src="{{user.userprofile.dog_picture.url }}" width="300"   /> <br/>


      {% endif %}


<form method="post">
    <br>
  {% csrf_token %}
    {{ user_form.username.as_hidden }}
   <label for="First_Name">First Name:</label> {{ user_form.first_name }}
    <br>
   <label for="Last_Name">Last Name:</label>{{ user_form.last_name }}
    <br>
   <label for="Email">Email:</label>{{ user_form.email }}
    {{ user_form.password.as_hidden }}

  {{ profile_form.as_p }}


 <script type="text/javascript">
            function go()
                        {
                           alertfunction();
                        }
     </script>


  <input type="submit" value="save changes">

</form>

<input type="button" value="Click me" onclick="go()">


    </div>
</div>
{% endblock %}