{% extends 'base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'rating_style.css' %}">
    <link rel="text/javascrpt" href="{% static 'rating.js' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'ajax_rating.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title_block %}
Add Rating
{% endblock %}

{% block body_block %}
    <form id="addRatingForm" method="POST" action="{{organizer_user }}">
        {% csrf_token %}
        <fieldset class="rating">
            <legend>Please rate:</legend>
            <input type="radio" onclick="fivestar(5)" id="star5" name="starvalue" value="5" /><label for="star5" title="Rocks!">&#9734</label>
            <input type="radio" onclick="fivestar(4)" id="star4" name="starvalue" value="4" /><label for="star4" title="Pretty good">&#9734</label>
            <input type="radio" onclick="fivestar(3)" id="star3" name="starvalue" value="3" /><label for="star3" title="Meh">&#9734</label>
            <input type="radio" onclick="fivestar(2)" id="star2" name="starvalue" value="2" /><label for="star2" title="Kinda bad">&#9734</label>
            <input type="radio" onclick="fivestar(1)" id="star1" name="starvalue" value="1" /><label for="star1" title="Sucks big time">&#9734</label>
        </fieldset>
        <div id="orgname">
            <div hidden id="starvalue"  >{{ form.starvalue.as_hidden }}</div>
            <div hidden id="org">{{ organizer_user }}</div>
{#    <label for="organizername">Organizer: </label>#}
{#        {{ form.organizername }}#}
{#        <span hidden id="org" value={{ organizer_user }}>{{ organizer_user }}</span>#}
        {#  <label for="organizername">Organizername:  {{ form.organizername  }}</label>#}

            <label for="comment">Comment:  {{ form.comment }}</label>

{#        <span id="owner_name" value={{ owner_user}}>{{ owner_user }}</span>#}


            <input id="submit" type="submit" value="Submit" >
        </div>
    </form>

    <span hidden id="count">{{ reviews }}</span>
    <p id="avg"> Average rating for {{ organizer_user }} is {{ organizer_user.avgrating }} based on {{ reviews }} reviews. </p>
<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div id="5">{{rates.5}}</div>
  </div>

  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div id="4">{{ rates.4 }}</div>
  </div>

  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div id="3">{{ rates.3 }}</div>
  </div>

  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div id="2">{{ rates.2 }}</div>
  </div>

  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div id="1">{{ rates.1 }}</div>
  </div>
</div>
</p>
{% endblock %}

{% block end_block %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'rating_style.css' %}">
    <script src="{% static 'rating.js' %}" type="text/javascript"> </script>
    <link rel="text/javascrpt" href="{% static 'rating.js' %}">
    <link rel="text/javascrpt" href="{% static 'ajax_rating.js' %}">

{% endblock %}