{% extends 'base.html' %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h2>You have already registered!</h2>
    {% else %}
        <h1>Register for free here! Choose one of the options below:</h1>

        <form action="/dogowner">
            <input type="submit" value="Dog owner" />
        </form>
        <form action="/organizer">
            <input type="submit" value="Event organizer" />
        </form>
    {% endif %}
{% endblock %}
