{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
Reset Password
{% endblock %}

{% block body_block %}
     {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
    <body class="bg-dark">
    <div class="container bla">
    <div class="card card-login mx-auto mt-5">
    <div class="card-header" align="center"><h1>Reset your password</h1></div>

    {% if user.is_authenticated %}

        <h2>You have already logged in!</h2>
    {% else %}
    <div class="card-body">
    <form id="reset_form" method="post" action="{% url 'reset_password' %}">
    {% csrf_token %}

        Username: <input type="text" name="username" value="" size="50" required/>
        <br />
        What is your first pet's name?: <input type="text" name="secret_question" value="" size="50" required/>
        <br />
        New Password: <input type="password" name="password" value="" size="50" required/>
        <br />
        Confirm Password:<input type="password" name="confirm_password" value="" size="50" required/>
        <input type="submit" value="submit" />
    </form>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}
