{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
Reset Password
{% endblock %}

{% block body_block %}
    <h1>Reset your password</h1>

    {% if user.is_authenticated %}
        <h2>You have already logged in!</h2>
    {% else %}

    <form id="reset_form" method="post" action="{% url 'reset_password' %}">
    {% csrf_token %}


        Username: <input type="text" name="username" value="" size="50" />
        <br />
        What is your first pet's name?: <input type="text" name="secret_question" value="" size="50" />
        <br />
        New Password: <input type="password" name="password" value="" size="50" />
        <br />
        Confirm Password:<input type="password" name="confirm_password" value="" size="50" />
        <input type="submit" value="submit" />
    </form>

    {% endif %}
{% endblock %}
