{% extends 'base.html' %}

{% block title_block %}
View Ratings
{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-lg-12">
    <div class="mb-0 mt-4" align="center"><h2>These are the average ratings for all organizers</h></div>
      <hr class="mt-2">
    </div>
  </div>
  {% if organizers %}
    <div class="card-columns">
      {% for organizer in organizers %}
        <div class="card mb-3">
          {% if organizer.profile_picture %}
            <img class="card-img-top img-fluid w-100" src="{{ organizer.profile_picture.url }}" alt="{{organizer.username}}"/>
          {% endif %}
          <div class="card-body">
<h6 class="card-title mb-1" class={{organizer}}><h4><b>{{ organizer }}</b></h4></h6>
           <hr class="my-0">
           <div class="card-body py-2 small"><h6>Average rating: {{ organizer.avgrating }}</h6></div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
 </div>
{% endblock %}
